@import '../../style/globalstyle.scss';

.contact {

	margin: 1rem 2rem;

	border: 1px solid red;
	background: rgb(234, 175, 175);

	display: flex;
	align-items: center;
	justify-content: center;

	height: 500px;
}